
$clr-black: hsl(212, 21%, 14%);
$clr-grey: hsl(228, 12%, 48%);

// backgrounds:
$clr-bg-window: hsl(30, 38%, 92%);
$clr-bg-card: hsl(0 0% 100%);

// secondary, accents:
$clr-accent-500: hsl(158, 36%, 37%);
$clr-accent-700: hsl(158, 42%, 18%);
