$ff-primary: Montserrat, sans-serif;
$ff-secondary: Fraunces, serif;

//sizes
$fs-600: 2rem;
$fs-300: 0.875rem;
$fs-200: 0.813rem;
$fs-100: 0.75rem;

//line-heights

$flh-160: 1.6;
$flh-120: 1.2;
$flh-110: 1.1;
$flh-100: 1;

$fls-500: 0.313rem;

//spacings

$space-250: 2.5;
$space-200: 2;
$space-150: 1.5;
$space-100: 1;
$space-075: .75;
$space-050: 0.5;
$space-025: 0.25;

//radii

$radius-200: .6em;