$ff-primary: Montserrat, sans-serif;
$ff-secondary: Fraunces, sans-serif;

//sizes
$fs-600: 2rem;
$fs-300: 0.875rem;
$fs-200: 0.813rem;
$fs-100: 0.75rem;

//line-heights

$flh-160: 1.6;
$flh-110: 1.1;
$flh-100: 1;

$fls-500: 0.313rem;

//spacings

$fsc-500: 2.5em;
$fsc-400: 2em;
$fsc-300: 1.5em;
$fsc-200: 1em;
$fsc-100: 0.5em;
$fsc-50: 0.25em;